<!-- Common Questions -->
<div class="common-questions-section">
  <div class="common-questions-container">
    <h2 class="common-questions-header">Common Questions about <%= @lic.ticker %></h2>
    
    <% @common_questions.each do |q| %>
      <% (1..4).each do |i| %>
        <div class="common-questions-column">
          <div class="common-questions-question"><%= q.send("q#{i}_q") %></div>
          <div class="common-questions-answer"><%= q.send("q#{i}_a").html_safe %></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>



