<!-- Section Separator on Lic Show Page-->

<p style=   "text-align: center; 
            font-style: italic; 
            color: #888; 
            padding-top: 50px; 
            padding-bottom: 50px;"
>
  ~ <%= @lic.name %> (<%= @lic.ticker %>) ~
</p>
