<div class="seo-pages-seo-text-section" data-controller="seo-pages-seo-text">
    <div class="seo-pages-seo-text-container">
        <h2 class="seo-pages-seo-text-header">Heading</h2>

        <div class="seo-pages-seo-text-columns">

            <!-- Left Column Questions -->   
            <div class="seo-pages-seo-text-left-column">
                <div class="seo-pages-seo-text-item">
                    <button class="seo-pages-seo-text-question" data-action="seo-pages-seo-text#toggle" data-seo-pages-seo-text-target="question">
                        Question
                        <span class="seo-pages-seo-text-toggle-icon"> +</span>
                    </button>
                    <div class="seo-pages-seo-text-answer" data-seo-pages-seo-text-target="answer">
                        <p>Answer</p>
                    </div>
                </div>
             </div>

            <!-- Right Column Questions -->   
            <div class="seo-pages-seo-text-right-column">
                <div class="seo-pages-seo-text-item">
                    <button class="seo-pages-seo-text-question" data-action="seo-pages-seo-text#toggle" data-seo-pages-seo-text-target="question">
                        Question
                        <span class="seo-pages-seo-text-toggle-icon"> +</span>
                    </button>
                    <div class="seo-pages-seo-text-answer" data-seo-pages-seo-text-target="answer">
                        <p>Answer</p>
                    </div>
                </div>
             </div>

        </div>
    </div>
</div>