@import 'devices';

/* Styling for the Dividend Yields index action view template */

/* Page Information */
.dividend-yields-index-page-header h1 {
    color: #005454;
    font-family: 'Georgia', serif;
    @include desktop {
        font-size: 36px
    }
    @include mobile {
        font-size: 24px;
    }
}

.dividend-yields-index-page-details p {
    color: #585858;
    font-family: 'Georgia', serif;
    @include desktop {
        font-size: 16px
    }
    @include mobile {
        font-size: 12px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}


/* Table structure */
.dividend-yields-index-table-container {
    margin-top: 20px;
    margin-bottom: 40px;
    overflow: auto;
    width: 100%;
    @include desktop {
        height: 600px;
    }
    @include mobile {
        height: 500px;
    }
}

.dividend-yields-index-table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;

    thead {
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: #fcfaf9;
    }

    th:first-child, td:first-child{
        position: sticky;
        left: 0;
        z-index: 1;
        background-color: #fcfaf9;
    }

    tr:last-child th {
        background-color: #f3eee8;
    }
}

/* Table Headers */
.dividend-yields-index-table th {
    border: 0.5px solid lightgrey;
    padding: 6px;
    font-family: Georgia, serif;
    color: #005454;
    white-space: nowrap;
    overflow: hidden;
    @include mobile {
        font-size: 10px
    }
}

.dividend-yields-index-table th a {
    text-decoration: none;
    color: inherit;
}

.dividend-yields-index-table th a:hover {
    text-decoration: underline;
}

.dividend-yields-index-table th:hover {
    background-color: #f0f0f0;
}

.dividend-yields-index-table th.sorted {
    text-decoration: underline;
  }


/* Table Values */
.dividend-yields-index-table td {
    border: 0.5px solid lightgrey;
    padding: 6px;
    font-family: Georgia, serif;
    color: #585858;
    white-space: nowrap;
    overflow: hidden;
    @include mobile {
        font-size: 10px
    }
}

.dividend-yields-index-table td:nth-child(7),
.dividend-yields-index-table td:nth-child(12) {
    background-color: #f3eee8;
}

.dividend-yields-index-table thead tr th[colspan="3"] {
    background-color: #fcfaf9;
    color: #005454;
}

.dividend-yields-index-table-lic-name {
    text-decoration: none;
    color: inherit;
}

.dividend-yields-index-table-lic-name:hover {
    text-decoration: underline;
}

.dividend-yields-index-table td:hover{
    background-color: #f0f0f0;
} 

.dividend-yields-index-table-link:hover {
    text-decoration: underline;  
}

.dividend-yields-index-table td.center {
    text-align: center;
}


.dividend-yields-index-table-data-column {
    @include desktop {
        min-width: 46px;
    }
    @include mobile {
        min-width: 32px;
    }
}


/* Table specific borders */
.dividend-yields-index-table {
    /* Left hand column */
    th:first-child,
    td:first-child {
        border-left: 1px solid #005454;
    }
    /* Right hand column */
    th:last-child,
    td:last-child {
        border-right: 1px solid #005454;
    }
    /* Top row */
    tr:first-child th {
        border-top: 1px solid #005454;
    }
    /* Bottom row */
    tr:last-child td {
        border-bottom: 1px solid #005454;
    }
    /* Bottom header row */
    tr:last-child th {
        border-bottom: 1px solid #005454;
    }
    /* Left-hand side of NTA columns */
    th:nth-child(3),
    td:nth-child(3),
    th:nth-child(8),
    td:nth-child(8) {
        border-left: 1px solid #005454;
    }
}


/* Investment focus filter styling is on the lics_index.scss file */