@import 'devices';

/* App global styling */

/* Page Container */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #fcfaf9;
    font-family: 'Georgia', serif;
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    margin: auto;
    @include desktop {
        max-width: 1000px;
        width: 100%;
    }
    @include mobile {
        width: 90%;
    }
}


/* Global text */
h1, h2, h3 {
    color: #005454;
    font-family: 'Georgia', serif;
    font-weight: 300;
}

p, ul, li {
    color: #585858;
}

@include desktop {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
    }
}

@include mobile {
    h1 {
        font-size: 1.75em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.25em;
    }
}


/* Header */
.header {
    background-color: #fcfaf9;
    border-bottom: 1px solid #005454;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 0px 20px;
    @include desktop {
        height: 70px;
    }
    @include mobile {
        height: 50px;
    }
}

.logo {
    flex: 1;
}

.logo a img {
    height: auto;
    @include desktop {
        width: 250px;
    }
    @include mobile {
        width: 200px
    }
}

.menu-items {
    @include desktop {
        margin-right: 10px;
    }
    @include mobile {
        display: none;
        position: absolute;
        background-color: #fcfaf9;
        right: 0;
        top: 60px;
        width: 100%;
        text-align: center;
        flex-direction: column;
    }
}

.menu-link {
    color: #005454;
    text-decoration: none;
    font-weight: normal;
    transition: color 0.3s;
    padding-left: 10px;
    @include mobile {
        display: block;
        padding: 10px 0;
    }
}

.menu-link:hover {
    text-decoration: underline; 
    color: #004040;
}

.mobile_menu {
    display: none;
    cursor: pointer;
    @include mobile {
      display: block;
    }
  
    .mobile_menu_line {
      width: 20px;
      height: 2px;
      background-color: #005454;
      margin: 5px 0;
    }
}
  
#menu-items {
    @include mobile {
      display: none;
      position: absolute;
      background-color: #fcfaf9;
      right: 0;
      top: 60px;
      width: 100%;
      height: 200%;
      font-size: 20px;
      text-align: right;
      padding-right: 20px;
      z-index: 100;
    }
}
  
.menu-active #menu-items {
    display: flex;
}
  
.menu-active .mobile_menu .mobile_menu_line:nth-child(2) {
    opacity: 0;
}
  
.menu-active .mobile_menu .mobile_menu_line:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}
  
.menu-active .mobile_menu .mobile_menu_line:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}
  

/* Footer */
.footer {
    width: 100%;
    height: 100px;
    background-color: #005454;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
        height: auto;
        padding: 20px 0;
    }
}

.footer-container {
    text-align: center;
    color: #fcfaf9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .footer-item {
        margin: 0 10px;

        @include desktop {
            margin: 0 5px;
        }

        @include mobile {
            flex-direction: column;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}

.footer-link {
    color: #fcfaf9;
    text-decoration: none;
}

.footer-hide-mobile {
    @include mobile {
        display: none;
    }
}


/* Back to top button */
#back-to-top-button {
    display: none;
    position: fixed;
    right: 0px;
    z-index: 99;
    color: #005454;
    background-color: #eaeaea;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    @include desktop {
        bottom: 100px;
        font-weight: 900;
    }
    @include mobile {
        bottom: 60px;
        font-weight: 400;
    }
}
