@import 'devices';

/* App global styling */

/* Page Container */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #fcfaf9;
    font-family: 'Georgia', serif;
}

.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    margin: auto;
    @include desktop {
        max-width: 1000px;
        width: 100%;
    }
    @include mobile {
        width: 90%;
    }
}



/* Global text */
h1, h2, h3 {
    color: #005454;
    font-family: 'Georgia', serif;
    font-weight: 300;
}

p {
    color: #585858;
}

@include desktop {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
    }
}

@include mobile {
    h1 {
        font-size: 1.75em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.25em;
    }
}


/* Header */
.header {
    background-color: #fcfaf9;
    border-bottom: 1px solid #005454;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px;
}

.logo {
    flex: 1;
}

.logo a img {
    max-width: 100%;
    height: auto;
}

.menu-items {
    margin-right: 10px;
}

.menu-link {
    color: #005454;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.menu-link:hover {
    text-decoration: underline; 
    color: #004040;
}


/* Footer */
.footer {
    width: 100%;
    height: 100px;
    background-color: #005454;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.footer-container {
    text-align: center;
    color: #fcfaf9;
}
  
.footer-link {
    color: #fcfaf9;
    text-decoration: none;
}
  
  
/* Back to top button */
#back-to-top-button {
    display: none;
    position: fixed;
    right: 0px;
    z-index: 99;
    color: #005454;
    background-color: #eaeaea;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    @include desktop {
        bottom: 100px;
        font-weight: 900;
    }
    @include mobile {
        bottom: 60px;
        font-weight: 400;
    }
}