/* App global styling */


/* Remove default margin and padding for html and body */
html, body {
    margin: 0;
    padding: 0;
}


/* Flex container for body layout */
.flex-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }

.flex-container > div {
    flex: 1;
}


/* Container class for content */
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}


/* Background color and font family for body */
body {
    background-color: #f3eee8;
    font-family: 'Georgia', serif;
}


/* Global text styles */
h1, h2, h3 {
    color: #005454;
}

p {
    color: #585858;
}


/* Header Styling */
.header {
    background-color: #f3eee8;
    border-bottom: 1px solid #ccdcdc;
}

.header-container {
    position: relative;
    height: 50px;
}

.logo {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.menu-items {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.menu-link {
    color: blue;
    text-decoration: underline;
    font-weight: bold;
}


/* Footer Styling */
.footer {
    width: 100%;
    height: 100px;
    background-color: #005454;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.footer-container {
    text-align: center;
    color: lightgrey;
}
  
.footer-link {
    color: lightgrey;
    text-decoration: none;
}
  
  
  