@import 'devices';

/* Styling for the Level 3 SEO Show Pages */

.seo-pages-header h1 {
    color: #005454;
    font-family: 'Georgia', serif;
    text-decoration: underline;
    @include desktop {
        font-size: 40px;
        padding-top: 40px;
        padding-bottom: 5px;
    }
    @include mobile {
        font-size: 30px;
        padding-top: 20px;
        padding-bottom: 5px;
    }
}

.seo-pages-page-details p {
    color: #585858;
    font-family: 'Georgia', serif;
    padding-bottom: 30px;
    @include desktop {
        font-size: 16px;
    }
    @include mobile {
        font-size: 14px;
        padding-top: 0px;
    }
}

/* Back to Lic Show Page button */
.l3-seo-page-back-button {
    background-color: #d4541b;
    color: #fcfaf9;
    font-family: 'Georgia', serif;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    transition: transform 0.2s, background-color 0.2s;
    @include desktop {
        font-size: 15px;
        margin-top: 50px;
    }
    @include mobile {
        font-size: 12px;
        margin-top: 40px;
    }
  
    &:hover {
      background-color: #de9779;
      padding: 0.6rem 1.1rem;
    }
}

/* Back to Lic Show Page Section */
.l3-seo-page-back-section {
    background: #fcfaf9;
    padding-top: 60px;
    padding-bottom: 120px;
  
    .l3-seo-page-back-section-container {
      margin: auto;
      @include desktop {
        max-width: 80%;
      }
      @include mobile {
        width: 100%;
      }
  
      .l3-seo-page-back-section-content-box {
        position: relative;
        background: #005454;
        color: #fcfaf9;
        text-align: center;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
        border-radius: 20px;
        @include desktop {
            padding: 2rem;
        }
        @include mobile {
            padding: 1.5rem;           
        }
  
        h3 {
          color: #fcfaf9;
          font-weight: bold;
          margin: auto;
          @include desktop {
            font-size: 28px;
          }
          @include mobile {
            font-size: 20px;
          }
        }
  
        p {
          margin-top: 1rem;
          line-height: 1.5;
          color: #d1d5db;
          @include desktop {
            font-size: 17px;
          }
          @include mobile {
            font-size: 14px;
          }
        }
  
        .l3-seo-page-back-section-button-container {
          display: flex;
          justify-content: center;
          gap: 1rem;
          margin-top: 2rem;
          margin-bottom: 0.5rem;
  
          .l3-seo-page-back-section-button {
            background: #fcfaf9;
            font-family: Georgia, serif;
            color: #005454;
            padding: 0.75rem 1.5rem;
            font-weight: semi-bold;
            border-radius: 10px;
            text-decoration: none;
            @include desktop {
                font-size: 20px;
            }
            @include mobile {
                font-size: 18px;
            }
  
            &:hover {
              background: #f3eee8;
              padding: 0.8rem 1.6rem;
              text-decoration: underline;
            }
  
            &:focus-visible {
              outline: 2px solid white;
              outline-offset: 2px;
            }
          }
        }
      }
    }
  }
  


/* Section Separator */
.l3-seo-page-section-separator {
    text-align: center;
    font-style: italic; 
    color: #888; 
    padding-top: 50px;
    padding-bottom: 50px;
    @include desktop {
        font-size: 14px;
    }
    @include mobile {
        font-size: 12px;
    }
}


/* SEO Text */
.seo-pages-seo-text-section {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    width: 100vw;
    background-color: #f3eee8;
    border-top: 2px solid #005454;
    padding: 10px 0;
}

.seo-pages-seo-text-container {
    max-width: 1000px;
    margin: auto;
    @include desktop {
        padding: 20px;
    }
    @include mobile {
        padding: 5px;
    }
}

.seo-pages-seo-text-header {
    color: #005454;
    font-family: 'Georgia', serif;
    font-weight: 300;
    text-align: center;
    width: 100%;
    @include desktop {
        font-size: 1.5em;
    }
    @include mobile {
        font-size: 1.25em;
    }
}

.seo-pages-seo-text-columns {
    display: flex;
    flex-wrap: wrap;
    @include desktop {
        justify-content: space-between;
    }
    @include mobile {
        display: block;
    }
}

.seo-pages-seo-text-left-column, .seo-pages-seo-text-right-column {
    flex: 1;
    margin: 10px;
}

.seo-pages-seo-text-item {
    margin-bottom: 15px;
}

.seo-pages-seo-text-question {
    color: #005454;
    font-family: 'Georgia', serif;
    line-height: 1.5;
    font-weight: 500;
    background-color: transparent;
    border: none;
    text-align: left;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    @include desktop {
        font-size: 16px;
    }
    @include mobile {
        font-size: 14px;
    }
}

.seo-pages-seo-text-answer {
    color: #585858;
    font-family: 'Georgia', serif;
    display: none;
    line-height: 1.5;
    @include desktop {
        padding-left: 7px;
        font-size: 16px;
    }
    @include mobile {
        padding-left: 17px;
        font-size: 14px;
    }
}

.seo-pages-seo-text-toggle-icon {
    cursor: pointer;
}


/* Annual Report Links */
.seo-pages-annual-report-links {
    text-align: center;

    a {
        color: #005454;
        font-family: 'Georgia', serif;
        font-size: 18px;
        line-height: 1.5;
        display: inline-block;
        margin-bottom: 0.75rem;

        &:hover {
            color: #134141;
            font-size: 19px;
        }
    }
}


