/* Styling the LICs table on the index action view template */

.lics-index-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
}
  
.lics-index-table th, .lics-index-table td {
    border: 1px solid lightgrey;
}

.lics-index-table th a, .lics-index-table-link {
    text-decoration: none;
    color: inherit;
}

.lics-index-table thead th a {
    color: black;
    font-weight: bold;
}

.lics-index-table thead th a:hover, .lics-index-table-hover-effect:hover .lics-index-table-link {
    text-decoration: underline;
}

.lics-index-table td.center {
    text-align: center;
}
  
.lics-index-table-hover-effect:hover {
    background-color: #f0f0f0;
}
