/* Styling for the LIC show action view template */

/* Page Header */
.page-header {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    width: 100vw;
    height: 220px;
    background-color: #005454;
}

.page-header-content {
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header-logo {
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    height: 90%;
}

.page-logo {
    max-height: 90%;
    max-width: 80%;
    object-fit: contain;
}

.page-header-info {
    flex: 0 0 70%;
    color: #fcfaf9;
    font-size: 36px;
    text-align: left;
    display: flex;
    align-items: center;
}

.page-header-lic-name {
    color: #fcfaf9;
    font-size: 48px;
}  


/* Page Menu */
#page-menu {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    width: 100vw;
    background-color: #004A4A;
    text-align: center;
    z-index: 1000;
}

.menu-item {
    display: inline-block;
    padding: 10px 20px;
    color: #fcfaf9;
    text-decoration: none;
    cursor: pointer;
}

.menu-item:hover {
    text-decoration: underline;
  }

.menu-item.active {
    color: #fcfaf9;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
}



/* Overview */
.overview {
    background-color: #f3eee8;
    border: 2px solid #005454;
    padding: 20px 60px;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px dotted #007575
}

.label {
    width: 30%;
    padding: 12px 16px;
    font-size: 18px;
    font-weight: 500;
    color: #005454;
    vertical-align: top;
}

.value {
    padding: 12px 16px;
    font-size: 18px;
    color: #585858;
    text-align: left;
}

tr:last-child {
    border-bottom: none;
}


/* Key People */
.key-people-section {
    background-color: #fcfaf9;
    padding: 10px 0px;
    border-radius: 20px;
}

.key-people-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.key-people-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.key-person {
    flex: 0 0 calc(50% - 10px);
    max-width: calc(50% - 10px);
    box-sizing: border-box;
    padding: 16px;
    background-color: #f3eee8;
    border: 1px solid #005454;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.key-person-top,
.key-person-bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.key-person-image {
    width: 175px;
    height: 175px;
    object-fit: cover;
    border: 3px solid #005454;
    border-radius: 20px;
}

.key-person-info {
    flex: 1;
    text-align: left;
    margin-left: 16px;
}

.key-person-name {
    font-size: 18px;
    font-weight: bold;
    color: #005454;
    margin-top: 4px;
    margin-bottom: 4px;
}

.key-person-role {
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 20px;
}

.key-person-details {
    font-size: 15px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.key-person-footnote {
    font-size: 12px;
    font-style: italic;
    color: #777;
    margin-top: 4px;
    margin-bottom: 4px;
}

.key-person-bio {
    margin-top: 20px;
    margin-bottom: 4px;
}


/* Charts */
.chart-number-shareholders,
.chart-size-net-assets,
.chart-share-price-vs-nta {
    background-color: #f3eee8;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #005454;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.chart-share-price-vs-nta-filter #chart-share-price-vs-nta-filter-options {
    padding-bottom: 10px;
}

.chart-share-price-vs-nta-filter #chart-share-price-vs-nta-filter-options select {
    font-family: Georgia, serif;
    font-size: 14px;
    color: #585858;
    padding: 2px;
    border: 1px solid #585858;
    border-radius: 5px;
}

.chart-share-price-vs-nta-filter-options {
    margin-right: 10px;
}

.chart-share-price-vs-nta-filter #chart-share-price-vs-nta-filter-options label {
    font-family: Georgia, serif;
    font-size: 14px;
    color: #585858;
}

.chart-share-price-vs-nta-filter-select {
    margin-right: 10px;
}

.chart-share-price-vs-nta-filter #chart-share-price-vs-nta-filter-options input[type="submit"] {
    background-color: #005454;
    color: #fcfaf9;
    font-family: Georgia, serif;
    border-radius: 5px;
    padding: 5px 20px;
    border: none;
    cursor: pointer;
}

.chart-share-price-vs-nta-filter #chart-share-price-vs-nta-filter-options input[type="submit"]:hover {
    background-color: #004040;
}

  

