@import 'devices';

/* Styling the LICs table on the index action view template */

.lics-index-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 40px;
    @include desktop {


    }
    @include mobile {
        table-layout: fixed;
        overflow-x: auto;
        display: block;

    }
}


/* Table Headers */
.lics-index-table th {
    border: 1px solid lightgrey;
    padding: 6px;
    font-family: Georgia, serif;
    color: #005454;
    @include mobile {
        font-size: 10px
    }
}

.lics-index-table th a {
    text-decoration: none;
    color: inherit;
}

.lics-index-table th a:hover {
    text-decoration: underline;
}

.lics-index-table th:hover {
    background-color: #f0f0f0;
}

.lics-index-table th.sorted {
    text-decoration: underline;
  }


/* Table Values */
.lics-index-table td {
    border: 1px solid lightgrey;
    padding: 6px;
    font-family: Georgia, serif;
    color: #585858;
    @include mobile {
        font-size: 10px
    }
}

.lics-index-table-lic-name {
    text-decoration: none;
    color: inherit;
    @include mobile {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.lics-index-table td:hover{
    background-color: #f0f0f0;
} 

.lics-index-table-link:hover {
    text-decoration: underline;  
}

.lics-index-table td.center {
    text-align: center;
}

.lics-index-table td.lics-index-table-lic-cost {
    white-space: nowrap;
}


/* Investment Focus Filter */
form {
    margin-top: 20px;
}

/* investment focus drop down */
.investment-focus-filter select {
    font-family: Georgia, serif;
    font-size: 14px;
    color: #585858;
    padding: 5px;
    border: 1px solid #585858;
    border-radius: 5px;
}

.investment-focus-filter input[type="submit"] {
    background-color: #005454;
    color: #fcfaf9;
    font-family: Georgia, serif;
    border-radius: 5px;
    
    border: none;
    cursor: pointer;
    @include desktop {
        padding: 8px 20px;
    }
    @include mobile {
        padding: 6px 50px;

    }
}

.investment-focus-filter input[type="submit"]:hover {
    background-color: #004040;
}