@import 'devices';

/* Styling for the Lics index action view template */

/* Page Information */
.lics-index-page-header h1 {
    color: #005454;
    font-family: 'Georgia', serif;
    text-decoration: underline;
    @include desktop {
        font-size: 40px;
        padding-top: 40px;
        padding-bottom: 10px;
    }
    @include mobile {
        font-size: 26px;
        padding-top: 30px;
        padding-bottom: 10px;
    }
}

.lics-index-page-details p {
    color: #585858;
    font-family: 'Georgia', serif;
    @include desktop {
        font-size: 16px
    }
    @include mobile {
        font-size: 12px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}


/* Table structure */
/* 
.lics-index-table-container {
    margin-top: 30px;
    overflow: auto;
    width: 100%;
    @include desktop {
        height: 75vh;
        margin-bottom: 100px;
    }
    @include mobile {
        height: 60vh;
        margin-bottom: 80px;
    }
}
*/

.lics-index-table {
    margin-top: 30px;
    margin-bottom: 100px;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    thead {
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: #f3eee8;
    }
}


/* Table Headers */
.lics-index-table th {
    border: 0.5px solid lightgrey;
    padding: 6px;
    font-family: Georgia, serif;
    color: #005454;
    @include mobile {
        font-size: 10px
    }
}

.lics-index-table th a {
    text-decoration: none;
    color: inherit;
}

.lics-index-table th a:hover {
    text-decoration: underline;
}

.lics-index-table th:hover {
    background-color: #f0f0f0;
}

.lics-index-table th.sorted {
    text-decoration: underline;
  }


/* Table Values */
.lics-index-table td {
    border: 0.5px solid lightgrey;
    padding: 6px;
    font-family: Georgia, serif;
    color: #585858;
    @include mobile {
        font-size: 10px
    }
}

.lics-index-table-lic-name {
    text-decoration: none;
    color: inherit;
    @include mobile {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.lics-index-table-lic-name:hover {
    text-decoration: underline;
}

.lics-index-table td:hover{
    background-color: #f0f0f0;
} 

.lics-index-table-link:hover {
    text-decoration: underline;  
}

.lics-index-table td.center {
    text-align: center;
}

.lics-index-table td.lics-index-table-lic-cost {
    white-space: nowrap;
}


/* Table specific borders */
.lics-index-table {
    /* Left hand column */
    th:first-child,
    td:first-child {
        border-left: 1px solid #005454;
    }
    /* Right hand column */
    th:last-child,
    td:last-child {
        border-right: 1px solid #005454;
    }
    /* Header row */
    tr:first-child th {
        border-top: 1px solid #005454;
        border-bottom: 1px solid #005454;
    }
    /* Bottom row */
    tr:last-child td {
        border-bottom: 1px solid #005454;
    }
}


/* Investment Focus Filter */
form {
    margin-top: 20px;
}

/* Investment focus drop down */
.lics-index-table-investment-focus-filter select {
    font-family: Georgia, serif;
    font-size: 14px;
    color: #585858;
    padding: 5px;
    border: 1px solid #585858;
    border-radius: 5px;
}

.lics-index-table-investment-focus-filter input[type="submit"] {
    background-color: #005454;
    color: #fcfaf9;
    font-family: Georgia, serif;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    @include desktop {
        padding: 8px 20px;
    }
    @include mobile {
        padding: 6px 50px;

    }
}

.lics-index-table-investment-focus-filter input[type="submit"]:hover {
    background-color: #004040;
}


/* About LL Text */
.about-ll-section {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    width: 100vw;
    background-color: #f3eee8;
    border-top: 2px solid #005454;
    padding: 10px 0;
}

.about-ll-container {
    max-width: 1000px;
    margin: auto;
    @include desktop {
        padding: 20px;
    }
    @include mobile {
        padding: 5px;
    }
}

.about-ll-header {
    color: #005454;
    font-family: 'Georgia', serif;
    font-weight: 300;
    text-align: center;
    width: 100%;
    @include desktop {
        font-size: 1.5em;
    }
    @include mobile {
        font-size: 1.25em;
    }
}

.about-ll-columns {
    display: flex;
    flex-wrap: wrap;
    @include desktop {
        justify-content: space-between;
    }
    @include mobile {
        display: block;
    }
}

.about-ll-left-column, .about-ll-right-column {
    flex: 1;
    margin: 10px;
}

.about-ll-item {
    margin-bottom: 15px;
}

.about-ll-question {
    color: #005454;
    font-family: 'Georgia', serif;
    line-height: 1.5;
    font-weight: 500;
    background-color: transparent;
    border: none;
    text-align: left;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    @include desktop {
        font-size: 16px;
    }
    @include mobile {
        font-size: 14px;
    }
}

.about-ll-answer {
    color: #585858;
    font-family: 'Georgia', serif;
    display: none;
    line-height: 1.5;
    @include desktop {
        padding-left: 7px;
        font-size: 16px;
    }
    @include mobile {
        padding-left: 17px;
        font-size: 14px;
    }
}

.about-ll-toggle-icon {
    cursor: pointer;
}


