/* Styling specifcally for the LICs show action view template */

.page-header {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    width: 100vw;
    height: 240px;
    background-color: #005454; 
}

.page-header-content {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header-logo {
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    height: 90%;
}

.page-logo {
    max-height: 90%;
    max-width: 80%;
    object-fit: contain;
}

.page-header-info {
    flex: 0 0 70%;
    color: #fcfaf9;
    font-size: 36px;
    text-align: left;
    display: flex;
    align-items: center;
}

.page-header-lic-name {
    color: #fcfaf9;
    font-size: 48px;
}  
  

/* Key People */
.key-people {
    background-color: #f3eee8;
    padding: 32px 0;
    border-radius: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.key-people-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
    list-style-type: none;
}

.key-person {
    width: calc(50% - 12px);
    max-width: 600px;
    box-sizing: border-box;
    padding: 16px;
    border: 1px solid #005454;
    border-radius: 20px;
}

.key-person-top, .key-person-bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.key-person-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 3px solid #005454;
    border-radius: 20px;
}

.key-person-info {
    flex: 1;
    text-align: left;
    margin-left: 24px;
}

.key-person-name {
    font-size: 20px;
    font-weight: bold;
    color: #005454;
    margin-bottom: 4px;
}

.key-person-role {
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 20px;
}

.key-person-details {
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.key-person-footnote {
    font-size: 12px;
    font-style: italic;
    color: #777;
    margin-top: 3px;
}

.key-person-bottom {
    text-align: left;
    margin-top: 24px;
}

.key-person-bio {
    margin-top: 12px;
}
  

  
  
  