@import 'devices';

/* Styling for the LICs show action view template */

/* Page Header */
.page-header {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    width: 100vw;
    background-color: #005454;
    @include desktop {
        height: 220px;
    }
    @include mobile {
        height: 180px;
    }
}

.page-header-content {
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header-logo {
    @include desktop {
        flex: 0 0 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
        height: 90%;
    }
    @include mobile {
        flex: 0 0 0%;
    }
}

.page-logo {
    max-height: 90%;
    max-width: 80%;
    object-fit: contain;
}

.page-header-title {
    color: #fcfaf9;
    @include desktop {
        flex: 0 0 70%;
        font-size: 48px;
        text-align: left;
        display: flex;
    }
    @include mobile {
        flex: 0 0 100%;
        font-size: 34px;
        text-align: center;
        padding: 0;
    }
}

.page-header-title h1 {
    color: inherit;
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}


/* Page Menu */
#page-menu {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    width: 100vw;
    background-color: #004A4A;
    text-align: center;
    z-index: 1000;
    @include mobile {
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
    }
}

.menu-item {
    display: inline-block;
    color: #fcfaf9;
    text-decoration: none;
    cursor: pointer;
    @include desktop {
        padding: 10px 20px;
    }
    @include mobile {
        padding: 10px 12px;
    }
}

.menu-item:hover {
    text-decoration: underline;
  }

.menu-item.active {
    color: #fcfaf9;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
}

/* Section Separator */
.section-separator {
    text-align: center;
    font-style: italic; 
    color: #888; 
    padding-top: 100px; 
    padding-bottom: 70px;
    @include desktop {
        font-size: 14px;
    }
    @include mobile {
        font-size: 12px;
    }
}


/* Overview */
.overview {
    background-color: #f3eee8;
    border: 1px solid #005454;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    @include desktop {
        padding: 20px 60px;
    }
    @include mobile {
        padding: 5px 10px;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    border-bottom: 1px dotted #007575
}

.label {
    color: #005454;
    vertical-align: top;
    @include desktop {
        width: 30%;
        padding: 12px 16px;
        font-size: 18px;
        font-weight: 500;
    }
    @include mobile {
        width: 40%;
        padding: 10px 5px 10px 0px;
        font-size: 14px;
        font-weight: 500;
    }
}

.value {
    color: #585858;
    text-align: left;
    vertical-align: top;
    @include desktop {
        padding: 12px 16px;
        font-size: 18px;
    }
    @include mobile {
        padding: 10px 0px;
        font-size: 14px;
    }
}

.last-row {
    border-bottom: none;
}

@include mobile {
    .last-row .label {
        padding: 10px 0px 0px 0px !important;
    } 
    .last-row .value {
        padding: 5px 0px 10px 0px !important;
    }
}


/* Key People */
.key-people-section {
    background-color: #fcfaf9;
    padding: 10px 0px;
    border-radius: 20px;
}

.key-people-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.key-people-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.key-person {
    box-sizing: border-box;
    padding: 16px;
    background-color: #f3eee8;
    border: 1px solid #005454;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    @include desktop {
        flex: 0 0 calc(50% - 10px);
        max-width: calc(50% - 10px);
    }
    @include mobile {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.key-person-top,
.key-person-bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.key-person-image {
    object-fit: cover;
    border: 3px solid #005454;
    border-radius: 20px;
    @include desktop {
        width: 175px;
        height: 175px;
    }
    @include mobile {
        width: 100px;
        height: 100px;
    }
}

.key-person-info {
    flex: 1;
    text-align: left;
    @include desktop {
        margin-left: 16px;
    }
    @include mobile {
        margin-left: 12px;
    }
}

.key-person-name {
    font-weight: bold;
    color: #005454;
    @include desktop {
        margin-top: 4px;
        margin-bottom: 4px;
        font-size: 18px;
    }
    @include mobile {
        margin-top: 2px;
        margin-bottom: 1px;
        font-size: 16px;
    }
}

.key-person-role {
    @include desktop {
        margin-top: 4px;
        margin-bottom: 20px;
        font-size: 16px;
    }
    @include mobile {
        margin-top: 1px;
        margin-bottom: 10px;
        font-size: 12px;
    }
}

.key-person-details {
    @include desktop {
        margin-top: 4px;
        margin-bottom: 4px;
        font-size: 15px;
    }
    @include mobile {
        margin-top: 1px;
        margin-bottom: 1px;
        font-size: 12px; 
    }
}

.key-person-footnote {
    font-style: italic;
    color: #777;
    @include desktop {
        margin-top: 4px;
        margin-bottom: 4px;
        font-size: 12px;
    }
    @include mobile {
        margin-top: 1px;
        margin-bottom: 1px;
        font-size: 10px;
    }
}

.key-person-bio {
    @include desktop {
        margin-top: 20px;
        margin-bottom: 4px;
        font-size: 16px;
    }
    @include mobile {
        margin-top: 10px;
        margin-bottom: 4px;
        font-size: 12px;
    }
}

.key-person-bio-toggle-button {
    background: none;
    border: none;
    color: #005454;
    font-size: 17px;
    text-align: right;
    cursor: pointer;
    width: fit-content;
    margin-top: 20px;
    padding: 2px;
    display: block;
}
  

/* Charts */
.chart-number-shareholders,
.chart-size-net-assets,
.chart-share-price-vs-nta {
  background-color: #f3eee8;
  border-radius: 20px;
  border: 1px solid #005454;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  @include desktop {
    padding: 20px;
  }
  @include mobile {
    padding: 20px 0px 15px 0px;
  }
}

.chart-share-price-vs-nta {
    @include mobile {
        padding: 15px 0px 15px 0px;
    }
}


#chart-share-price-vs-nta-filter-options {
  padding-bottom: 10px;
  
  @include desktop {
    display: flex;
    justify-content: flex-start;
  }
  
  .chart-share-price-vs-nta-filter-option {
    @include desktop {
      padding-right: 20px;
    }
    @include mobile {
      padding-bottom: 10px;
    }
  }
}

.chart-share-price-vs-nta-filter-label,
.chart-share-price-vs-nta-filter-select {
  font-family: Georgia, serif;
  font-size: 14px;
  color: #585858;
  margin-right: 10px;
}

.chart-share-price-vs-nta-filter-select {
  padding: 2px;
  border: 1px solid #585858;
  border-radius: 5px;
}

.chart-share-price-vs-nta-button {
  background-color: #005454;
  color: #fcfaf9;
  font-family: 'Georgia', serif;
  border-radius: 5px;
  padding: 5px 20px;
  border: none;
  cursor: pointer;
  
  @include mobile {
    padding: 10px 30px;
  }
}

.chart-share-price-vs-nta-button:hover {
  background-color: #004040;
}


  

