/* Styling for the LIC show action view template */

/* Page Styling */
.page-header {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    width: 100vw;
    height: 240px;
    background-color: #005454; 
}

.page-header-content {
    max-width: 1100px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header-logo {
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    height: 90%;
}

.page-logo {
    max-height: 90%;
    max-width: 80%;
    object-fit: contain;
}

.page-header-info {
    flex: 0 0 70%;
    color: #fcfaf9;
    font-size: 36px;
    text-align: left;
    display: flex;
    align-items: center;
}

.page-header-lic-name {
    color: #fcfaf9;
    font-size: 48px;
}  



/* Overview */
.overview-section {
    background-color: #f3eee8;
    border: 1px solid #005454;
    padding: 20px;
    border-radius: 20px;
  }
  
table {
    width: 100%;
}

.label {
    width: 30%;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
    font-weight: 400;
    color: #005454;
    vertical-align: top;
}

.value {
    padding: 5px 10px;
    font-size: 20px;
    color: #585858;
}
  


/* Key People */
.key-people {
    background-color: #fcfaf9;
    padding: 10px 0px;
    border-radius: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 0;
}

.key-people-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.key-person {
    width: calc(50% - 12px);
    max-width: 500px;
    box-sizing: border-box;
    padding: 16px;
    background-color: #f3eee8;
    border: 1px solid #005454;
    border-radius: 20px;
}

.key-person-top,
.key-person-bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.key-person-image {
    width: 175px;
    height: 175px;
    object-fit: cover;
    border: 3px solid #005454;
    border-radius: 20px;
}

.key-person-info {
    flex: 1;
    text-align: left;
    margin-left: 16px;
}

.key-person-name {
    font-size: 18px;
    font-weight: bold;
    color: #005454;
    margin-top: 4px;
    margin-bottom: 4px;
}

.key-person-role {
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 16px;
}

.key-person-details {
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.key-person-footnote {
    font-size: 12px;
    font-style: italic;
    color: #777;
    margin-top: 4px;
    margin-bottom: 4px;
}

.key-person-bio {
    margin-top: 20px;
    margin-bottom: 4px;
}


/* Charts */
.chart-number-shareholders,
.chart-size-net-assets,
.chart-share-price-vs-nta {
    background-color: #f3eee8;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #005454;
}

.chart-share-price-vs-nta-form #chart-options-form {
    padding-bottom: 10px;
}
  
.chart-share-price-vs-nta-form #chart-options-form label,
.chart-share-price-vs-nta-form #chart-options-form select,
.chart-share-price-vs-nta-form #chart-options-form input[type="submit"] {
    font-family: 'Georgia', serif;
    color: #585858;
}