@import 'devices';

/* Styling for the Share Prics vs NTA index action view template */

/* Page Information */
.sp-vs-nta-index-page-header h1 {
    color: #005454;
    font-family: 'Georgia', serif;
    @include desktop {
        font-size: 36px
    }
    @include mobile {
        font-size: 24px;
    }
}

.sp-vs-nta-index-page-details p {
    color: #585858;
    font-family: 'Georgia', serif;
    @include desktop {
        font-size: 16px
    }
    @include mobile {
        font-size: 12px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}


/* Table */
.sp-vs-nta-index-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 40px;
    overflow-x: auto;
    display: block;
}

/* Table Headers */
.sp-vs-nta-index-table th {
    border: 1px solid lightgrey;
    padding: 6px;
    font-family: Georgia, serif;
    color: #005454;
    white-space: nowrap;
    overflow: hidden;
    @include mobile {
        font-size: 10px
    }
}

.sp-vs-nta-index-table th a {
    text-decoration: none;
    color: inherit;
}

.sp-vs-nta-index-table th a:hover {
    text-decoration: underline;
}

.sp-vs-nta-index-table th:hover {
    background-color: #f0f0f0;
}

.sp-vs-nta-index-table th.sorted {
    text-decoration: underline;
  }


/* Table Values */
.sp-vs-nta-index-table td {
    border: 1px solid lightgrey;
    padding: 6px;
    font-family: Georgia, serif;
    color: #585858;
    white-space: nowrap;
    overflow: hidden;
    @include mobile {
        font-size: 10px
    }
}

.sp-vs-nta-index-table th:nth-child(4),
.sp-vs-nta-index-table th:nth-child(7),
.sp-vs-nta-index-table td:nth-child(4),
.sp-vs-nta-index-table td:nth-child(7) {
    background-color: #f3eee8;
}

.sp-vs-nta-index-table thead tr th[colspan="3"] {
    background-color: #fcfaf9;
    color: #005454;
}

.sp-vs-nta-index-table-lic-name {
    text-decoration: none;
    color: inherit;
}

.sp-vs-nta-index-table-lic-name:hover {
    text-decoration: underline;
}

.sp-vs-nta-index-table td:hover{
    background-color: #f0f0f0;
} 

.sp-vs-nta-index-table-link:hover {
    text-decoration: underline;  
}

.sp-vs-nta-index-table td.center {
    text-align: center;
}

.sp-vs-nta-index-table-lic-name-column {
    @include desktop {
        min-width: 330px
    }
    @include mobile {
        position: sticky;
        left: 0;
        background-color: #fcfaf9;
        border: 1px solid lightgrey;
        padding: 6px;
    }
}


/* Investment focus filter styling is on the lics_index.scss file */