<footer class="footer">

  <div class="footer-container">

    <span class="footer-item">&copy; Listed Landscape <%= Time.current.year %></span>
    
    <span class="footer-item footer-hide-mobile">|</span>
    
    <span class="footer-item">Made with &hearts; in Australia</span>
    
    <span class="footer-item footer-hide-mobile">|</span>

    <span class="footer-item">
      <a href="https://twitter.com/listedlandscape" target="_blank" class="footer-link">
        Follow updates on <strong>X</strong> (Twitter)
      </a>
    </span>

  </div>
  
</footer>



