<footer class="footer">

  <div class="footer-container">

    <span class="footer-item">&copy; Listed Landscape <%= Time.current.year %></span>
    
    <span class="footer-item footer-hide-mobile">|</span>
    
    <span class="footer-item">hello@listedlandscape.com</span>

  </div>
  
</footer>



