<footer class="footer">

  <div class="container footer-container">

    &copy; Listed Landscape <%= Time.current.year %> | 
    
    Made with &hearts; in Australia | 

    <a href="https://twitter.com/listedlandscape" target="_blank" class="footer-link">
      Follow updates on <strong>X</strong> (Twitter)
    </a>

  </div>
  
</footer>


