<header class="header">
  <div class="container header-container">

    <!-- Logo -->
    <div class="logo">
      <%= link_to image_tag('/listed_landscape_header_logo_350x50px.png', alt: 'Listed Landscape Website Logo'), root_path %>
    </div>

    <!-- Menu Items -->
    <div class="menu-items">
      <% unless current_page?(root_path) || current_page?(listed_investment_companies_path) %>
        <%= link_to 'Home', listed_investment_companies_path, class: 'menu-link' %>
      <% end %>
    </div>
    
  </div>
</header>




