<header class="header">
  <div class="container header-container">

    <!-- Logo -->
    <div class="logo">
      <%= link_to image_tag('/listed_landscape_header_logo_350x50px.png', alt: 'Listed Landscape Website Logo'), root_path %>
    </div>

    <!-- Menu Items -->
    <div class="menu-items">
      <%= link_to 'View All LICs', listed_investment_companies_path, class: 'menu-link' %>
    </div>
    
  </div>
</header>



