<header style="position: relative; width: 100%; height: 50px; background-color: white; border-bottom: 1px solid #ccdcdc;">

  <div style="position: absolute; top: 50%; transform: translateY(-50%);">
    <%= link_to image_tag('/listed_landscape_header_logo_400x50px.png', alt: 'Listed Landscape Website Logo', style: 'width: 300px; height: 37.5px;'), root_path %>
  </div>

</header>
